In [1]:
#import the needed libraries
import pandas as pd 
import numpy as np

In [2]:
#get a view of how the dataset looks like 
file_path = 'fuel_ferc1.csv'
Fuel_Quality_Data = pd.read_csv(file_path)
Fuel_Quality_Data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

## Question 1

If you are given two lists: A = [1, 2, 3, 4, 5, 6], and B = [13, 21, 34]. The task is to create a list with the elements of A and B in a single dimension with output:
A_B = [1, 2, 3, 4, 5, 6, 13, 21, 34]
Which of the following option is the best way to create this list?

In [3]:
A = [1, 2, 3, 4, 5, 6]
B = [13, 21, 34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

## Question 2

How do you create an identity matrix?

In [4]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## Question 3

Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [5]:
fuel_type =Fuel_Quality_Data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values(ascending = False).head(10)
fuel_type
#The lowest average fuel cost per unit burned is exhibited by gas

fuel_type_code_pudl
nuclear    4955.157002
oil         168.877086
coal         67.421830
waste        19.518122
other        18.253856
gas          13.659397
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 4

What is the Standard Deviation and 75th percentile of the measure of energy per unit (fuel_mmbtu_per_unit) in two decimal places?

In [6]:
Data_Summary = Fuel_Quality_Data[['fuel_mmbtu_per_unit']].describe().round(2)
Data_Summary
#The S.D and 75th percentile of the measure of energy per unit in two decimal place is 10.60 and 17.01 respectively

       fuel_mmbtu_per_unit
count             29523.00
mean                  8.49
std                  10.60
min                   0.00
25%                   1.02
50%                   5.76
75%                  17.01
max                 341.26

## Question 5

What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [7]:
fuel_burned_skewness = Fuel_Quality_Data['fuel_qty_burned'].skew().round(2)
fuel_burned_kurtosis = Fuel_Quality_Data['fuel_qty_burned'].kurtosis().round(2)
print('skewness is given as', fuel_burned_skewness,'while kurtosis is given as', fuel_burned_kurtosis)

skewness is given as 15.85 while kurtosis is given as 651.37

## Question 6

Which feature has missing values and what is the total number of missing values and percentage of the missing values as a factor of the total number of rows in three decimal places?

In [8]:
print(Fuel_Quality_Data.isna().sum().sort_values(ascending = False))
print('')
print((Fuel_Quality_Data.isna().sum().sort_values(ascending = False)/Fuel_Quality_Data.shape[0]).round(3).head(1))
#The fuel_unit featrue has a total of 180 missing values and 0.006 is the percentage of the missing values as a factor of the total number of rows in three decimal places

fuel_unit                       180
fuel_cost_per_mmbtu               0
fuel_cost_per_unit_delivered      0
fuel_cost_per_unit_burned         0
fuel_mmbtu_per_unit               0
fuel_qty_burned                   0
fuel_type_code_pudl               0
plant_name_ferc1                  0
report_year                       0
utility_id_ferc1                  0
record_id                         0
dtype: int64

fuel_unit    0.006
dtype: float64

## Question 7

The feature with missing values falls under what category? What missing value imputation technique would you use?

In [9]:
Fuel_Quality_Data['fuel_unit'].describe(include='all')
#The fuel_unit falls under the categorial variables and the mode imputation technique should be used

count     29343
unique        9
top         mcf
freq      11354
Name: fuel_unit, dtype: object

## Question 8

Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

In [10]:
Correlation = Fuel_Quality_Data.corr()['fuel_cost_per_unit_burned'].sort_values(ascending = True)
Correlation
#the fuel_qty_burned and fuel_mmbtu_per_unit feature have the second and third lowest correlation with Fuel Cost Per Unit Burned

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 9

For the fuel type coal, what is the perentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [11]:
Fuel_data_FTY_1994 =Fuel_Quality_Data[['fuel_type_code_pudl','fuel_cost_per_unit_burned']][(Fuel_Quality_Data['report_year']==1994)].groupby('fuel_type_code_pudl').sum()
Fuel_data_FTY_1998 =Fuel_Quality_Data[['fuel_type_code_pudl','fuel_cost_per_unit_burned']][(Fuel_Quality_Data['report_year']==1998)].groupby('fuel_type_code_pudl').sum()
Percenatage_Change = (Fuel_data_FTY_1998 - Fuel_data_FTY_1994)*100/Fuel_data_FTY_1994
Percenatage_Change
#The percenrage change in the fuel cost per unit burned in 1998 compared to 1994 for coal is approximately -21%

                     fuel_cost_per_unit_burned
fuel_type_code_pudl
coal                                -20.567655
gas                                 -30.733391
nuclear                             -48.334706
oil                                 -72.136264
other                                93.107584
waste                               351.288806

## Question 10

Which year has the highest average fuel cost per unit delivered?

In [12]:
report_yr = Fuel_Quality_Data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending = False).head(3)
report_yr
#1997 has the highest average fuel cost per unit delivered

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
Name: fuel_cost_per_unit_delivered, dtype: float64